.main {
  margin-top: 5rem;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__select {
    cursor: pointer;
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: var(--secondary-color);
    overflow: hidden;
    border-radius: 0.25em;
    &::after {
      content: "\25BC";
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      background: var(--secondary-color);
      cursor: pointer;
      pointer-events: none;
      transition: 0.25s all ease;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: var(--secondary-color);
      background-image: none;
      flex: 1;
      padding: 0 1rem;
      color: var(--text-color);
      cursor: pointer;
      font-size: 1em;
      font-family: "Open Sans", sans-serif;
    }
    select::-ms-expand {
      display: none;
    }
  }

  &__search {
    width: 45rem;
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    border-radius: 0.5rem;
    input {
      padding: 1rem;
      background: var(--secondary-color);
      color: var(--text-color);
      width: 100%;
    }
    label {
      width: 4rem;
      height: 5rem;
      padding-left: 1rem;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.css-1toxriw-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}
.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  width: 20rem !important;
  background: none !important;
}
